

body{
    background-color: #ffffff;
    text-align: center;
    font-family: Merriweather, serif;
    margin: 0;
}

h1 {
    font-family: "Sacramento", cursive;
    font-size: 5.625rem;
    color: #66BFBf;
    margin: 50px auto 0 auto;
    padding-block: 1.17%;
    line-height: 2;
}
h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    padding-bottom: 2%;
    color: #66BFBF;
}
h3 {
    font-family: "Montserrat Alternates", sans-serif;
    color: #11999E;
}
hr {
    border: dotted #d6e3e3 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p {
    line-height: 2;
}
a {
    color: #11999E;
    font-family: "Montserrat Alternates", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;

}
.middle-container {
    margin: 100px 0 100px 0;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 2% 0 4%;
}

.footer {
    background-color: #66BFBF;
    padding: 2% 0 4%;
}
.top-cloud {
    position: absolute;
    right: 15%;
    top: 7%;
}
.bottom-cloud {
    position: relative;
    right: 35%;
    bottom: 50px;
}

.profile {
    position: relative;
    top: 5%;
}

.debug{
    width: 200px;
    height: 200px;
    float: right;

}
.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto;
}


